<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mutual Funds Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-4 mt-4">
    <ion-button expand="full" shape="round" class="h-12" (click)="addFunds()">Add Fund</ion-button>
  </div>
</ion-content>
