<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/stock-portfolio"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditing ? 'Edit' : 'Add' }} Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="stockForm" (ngSubmit)="addStock()">
    <ion-item>
      <ion-label position="floating">Symbol</ion-label>
      <ion-input type="text" autocapitalize="characters" formControlName="symbol" (ionBlur)="getStockDetails()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Script Name</ion-label>
      <ion-input type="text" autocapitalize="words" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Average Buy Price</ion-label>
      <ion-input type="number" formControlName="avgPrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" formControlName="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Current Market Price</ion-label>
      <ion-input type="number" formControlName="currMktPrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sector</ion-label>
      <ion-input type="text" formControlName="sector"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-input type="date" formControlName="date"></ion-input>
    </ion-item>
    <div class="p-4">
      <ion-button shape="round" class="w-full h-12" (click)="addStock()">{{ isEditing ? 'Update' : 'Add' }} Stock</ion-button>
    </div>
  </form>
</ion-content>
