<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Stock Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="p-2" *ngFor="let stock of stocks$ | async; let i = index">
    <ion-item-sliding #slidingItem>
      <ion-item-options side="start">
        <ion-item-option color="danger">
          <ion-button fill="clear" (click)="delete(slidingItem, stock.id)"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-item-option>
      </ion-item-options>
      <ion-item class="stock-card" button (click)="editStock(stock.id)" lines="none">
        <ion-card class="text-white w-full m-0">
          <div class="flex justify-between border-b p-4">
            <div class="flex flex-col">
              <ion-text class="text-xl">{{ stock.symbol }}</ion-text>
              <ion-text class="text-xs text-gray-400">{{ stock.quantity }} shares</ion-text>
            </div>
            <div class="flex flex-col">
              <ion-text class="text-lg">₹ {{ stock.current_price | number:'.2' }}</ion-text>
              <ion-text class="text-xs text-right text-gray-400 ">Cost {{ stock.avg_price | number:'.2' }}</ion-text>
            </div>
          </div>
          <div class="flex justify-between p-4">
            <div class="flex flex-col">
              <ion-text class="text-lg">₹ {{ stock.current_value | number:'.2' }}</ion-text>
              <ion-text class="text-xs text-gray-400">Current Value</ion-text>
            </div>
            <div class="flex flex-col items-end">
              <app-highlight [amount]="stock.pl" [cssClass]="'text-lg'" [percentage]="false"></app-highlight>
              <ion-text class="text-right text-xs">P/L 
                <app-highlight [amount]="stock.percent" [percentage]="true"></app-highlight>
              </ion-text>
            </div>
          </div>
        </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>
          <ion-button fill="clear"><ion-icon name="refresh-outline"></ion-icon></ion-button>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addStock()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
