<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mf-portfolio"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditing ? 'Edit' : 'Add' }} Fund</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="fundForm" (ngSubmit)="addFund()">
    <div class="relative">
      <ion-item>
        <ion-label position="floating">Fund Name</ion-label>
        <ion-input id="trigger-button" type="text" autocapitalize="characters" formControlName="fundName"></ion-input>      
        <!-- <ion-auto-complete 
          [dataProvider]="autoFillService" 
          formControlName="fundCode"></ion-auto-complete> -->
      </ion-item>
      <ul class="absolute top-full bg-white w-adjusted z-50 mx-4" *ngIf="showAutoComplete">
        <ng-container *ngIf="searchResults.length">
          <li 
            *ngFor="let result of searchResults"
            class="text-black p-2 text-xl text-gray-600"
            (click)="selectResult(result)">{{ result.schemeName }}</li>
        </ng-container>
        <ng-container *ngIf="!searchResults.length">
          <li  class="text-black p-2 text-xl text-gray-600">No Results Found.</li>
        </ng-container>
      </ul>
    </div>
    <ion-item>
      <ion-label position="floating">Fund Code</ion-label>
      <ion-input type="number" formControlName="fundCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fund Type</ion-label>
      <ion-input type="text" autocapitalize="words" formControlName="fundType"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fund Category</ion-label>
      <ion-input type="text" autocapitalize="words" formControlName="fundCategory"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" formControlName="amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Total Units</ion-label>
      <ion-input type="number" formControlName="units"></ion-input>
    </ion-item>
    <ion-label class="p-4" *ngIf="transactionAmount">Total Units: 
      <ion-text class="font-bold">{{ transactionAmount }} * {{ fundForm.value.currentNav }} = {{ fundForm.value.units }}</ion-text>
    </ion-label>
    <ion-item>
      <ion-label position="floating">Current NAV</ion-label>
      <ion-input type="number" formControlName="currentNav"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-input type="date" formControlName="date"></ion-input>
    </ion-item>
    <div class="p-4">
      <ion-button shape="round" class="w-full h-12" (click)="addFund()">{{ isEditing ? 'Update' : 'Add' }} Fund</ion-button>
    </div>
  </form>
</ion-content>
