#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
// ion-item {
//   --padding-end: 0;
//   --inner-padding-end: 0; 
//   --padding-start: 0;
// }
.col {
  background: #fff;
}
.chart-container {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;  
}
// .current-worth {
//   border-left: 1px solid #ccc;
// }
// .separator {
//   width: 1px;
//   height: 45px;
// }