<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Portfolio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Portfolio</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="chart-container w-full">
    <ng-container *ngIf="hasInvestments">
      <canvas baseChart
        width="350"
        [type]="'pie'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
    </ng-container>
    <p class="no-investments" *ngIf="!hasInvestments">
      You don't have any investments
    </p>
  </div>
  <ion-segment class="mt-4" (ionChange)="segmentChanged($event)" [value]="selected">
    <ng-container *ngFor="let category of categories">
      <ion-segment-button [value]="category.id">
        {{ category.name }}
      </ion-segment-button>
    </ng-container>
  </ion-segment>

  <ng-container [ngSwitch]="selected">
    <ng-container *ngSwitchCase="1">
      <app-net-worth type="stock" [details]="stock"></app-net-worth>
      <!-- <ion-item button (click)="navigateToPortfolio()" lines="none" class="flex border-b border-slate-400">
        <div class="flex flex-col p-4">
          <ion-text class="text-2xl font-semibold">Net worth</ion-text>
          <app-highlight [amount]="stock.current_value" [cssClass]="'text-lg'" [percentage]="false"></app-highlight>
        </div>
        <div class="border-r border-slate-600 my-4 separator"></div>
        <div class="flex flex-col p-4 flex-1">
          <div class="flex justify-between">
            <ion-text>Investments</ion-text>
            <ion-text>₹ {{ stock?.invested | number:'.2' }}</ion-text>
          </div>
          <div class="flex justify-between mt-2">
            <ion-text>Profit/Loss</ion-text>
            <app-highlight [amount]="stock?.profit_loss" [cssClass]="'text-lg'" [percentage]="false"></app-highlight>
          </div>
        </div>
        <div class="self-center mr-2">
          <ion-icon class="text-2xl" name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-item> -->
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <app-net-worth type="mf" [details]="stock"></app-net-worth>
    </ng-container>
  </ng-container>
  
  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>    
  </ion-fab> -->

</ion-content>
