<ion-item button (click)="navigateToPortfolio()" lines="none" class="flex border-b border-slate-400">
  <div class="flex flex-col p-4">
    <ion-text class="text-2xl font-semibold">Net worth</ion-text>
    <app-highlight [amount]="details.current_value" [cssClass]="'text-lg'" [percentage]="false"></app-highlight>
    <!-- <ion-text class="text-xl">₹ {{ details?.current_value | number:'.2' }}</ion-text> -->
  </div>
  <div class="border-r border-slate-600 my-4 separator"></div>
  <div class="flex flex-col p-4 flex-1">
    <div class="flex justify-between">
      <ion-text>Investments</ion-text>
      <ion-text>₹ {{ details?.invested | number:'.2' }}</ion-text>
    </div>
    <div class="flex justify-between mt-2">
      <ion-text>Profit/Loss</ion-text>
      <app-highlight [amount]="details?.profit_loss" [cssClass]="'text-lg'" [percentage]="false"></app-highlight>
    </div>
  </div>
  <div class="self-center mr-2">
    <ion-icon class="text-2xl" name="chevron-forward-outline"></ion-icon>
  </div>
</ion-item>